body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.header {
  position: relative;
  padding: 10px;
  /* background-color: firebrick; */
  background-color: rgb(56, 53, 53);
  color: #fff;
  /* position: fixed; */
  top: 0;
  right: 0;
  left: 0;
  /* z-index: 100; */
}

.header h1 {
  font-size: 25px;
  padding: 0;
  margin: 0;
  /* text-align: center; */
  display: inline;
  margin-left: 15px;
}

.map {
  width: 100%;
  height: 94.6vh;
  position: relative;
}

.wildfire-location {
  font-size: 2rem;
  color: red;
  cursor: pointer;
}

.flood-location {
  font-size: 2rem;
  color: rgb(0, 4, 255);
  cursor: pointer;
}

.storm-location {
  font-size: 2rem;
  color: rgb(104, 101, 101);
  cursor: pointer;
}

.earthquake-location {
  font-size: 2rem;
  color: rgb(255, 111, 0);
  cursor: pointer;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.loader img {
  width: 400px;
}

.loader h1 {
  margin-top: -100px;
}

.location-info {
  position: absolute;
  top: 70px;
  right: 30px;
  width: 400px;
  min-height: 200px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
  z-index: 1;
}

.location-info ul {
  list-style-type: none;
  padding: 0;
}

.location-info li {
  padding: 5px 0;
}

.location-info span {
  position: absolute;
  top: 10px;
  right: 15px;
}

.search {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 4px;
  background-color:white;
  width: 25%;
  position: absolute;
  top: 65px;
  left: 15px;
  z-index: 1;
}

.searchIcon {
  font-size: 2rem;
  height: 100%;
  flex: 1;
  color: black
}

.inputRoot {
  flex: 6;
}